LocalEntropy/CMakeFiles/**
LocalEntropy/CMakeCache.txt
LocalEntropy/cmake_install.cmake
LocalEntropy/Makefile
LocalEntropy/bin/**
LocalEntropy/*build*/**
.vscode
*.tif
*.bmp
*.zip
*.rar
*.tar
**/.venv/
